<ion-header>
  <ion-toolbar>
    <ion-title>Jogo da Forca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="resposta.length > 0">
      <img src="assets/img/inicio.jpg" *ngIf="erros == 1">
      <img src="assets/img/2.jpg" *ngIf="erros == 2">
      <img src="assets/img/3.jpg" *ngIf="erros == 3">
      <img src="assets/img/4.jpg" *ngIf="erros == 4">
      <img src="assets/img/5.jpg" *ngIf="erros == 5">
      <img src="assets/img/fim.jpg" *ngIf="erros == 6">
      <ion-label color="success">Categoria {{categoria}}</ion-label><br>
      <ion-label *ngIf="erros >= 3" color="primary">Dica: {{dica}}</ion-label>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let ltr of resposta">
          &nbsp;{{ltr}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label>Letras Usadas: {{usadas}}</ion-label>
  </div>
</ion-content>
<ion-footer>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-button *ngFor="let alf of alfabeto" (click)="validar(alf)" color='success'>
          {{alf}}
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>