<ion-header>
  <ion-toolbar>
    <ion-title>jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="resposta.length > 0">
      <ion-label color="success">Quantidade de Letras {{tamanho}}</ion-label>
      <br>
      <ion-label color="danger">Erros {{erros}}</ion-label>
      <br>
      <ion-label color="primary">Letras usadas: {{usadas}}</ion-label>
    </div>

    <ion-grid>
      <ion-row color="danger">
        <ion-col *ngFor="let ltr of resposta">
          &nbsp;{{ltr}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <br>
    
  </div>
</ion-content>
<ion-footer>
  <ion-grid *ngIf="resposta.length > 0">
    <ion-row>
      <ion-col *ngFor="let alf of alfabeto" (click)="validar(alf)" disabled="false" class="alfabeto">
        <label>{{alf}}</label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>