<ion-header>
  <ion-toolbar>
    <ion-title>jogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="resposta.length > 0">
      <img src="assets/img/inicio.jpg" *ngIf="erros == 1">
      <img src="assets/img/2.jpg" *ngIf="erros == 2">
      <img src="assets/img/3.jpg" *ngIf="erros == 3">
      <img src="assets/img/4.jpg" *ngIf="erros == 4">
      <img src="assets/img/5.jpg" *ngIf="erros == 5">
      <img src="assets/img/fim.jpg" *ngIf="erros == 6">
      <ion-label color="success">Categoria {{categoria}}</ion-label>
      <br>
      <ion-label *ngIf="erros >= 3" color="primary">dica: {{dica}}</ion-label>
    </div>

    <ion-grid>
      <ion-row color="danger">
        <ion-col *ngFor="let ltr of resposta">
          &nbsp;{{ltr}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <br>
    <br>

  </div>
</ion-content>
<ion-footer>
  <div class="ion-padding">
    <ion-grid *ngIf="resposta.length > 0">
      <ion-row>
        <ion-col *ngFor="let alf of alfabeto" (click)="validar(alf)" disabled="false" class="alfabeto">
          <label>{{alf}}</label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-footer>