<ion-header>
  <ion-toolbar>
    <ion-title>
      Jogo da Forca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h5>Ranking de Pontos</h5>
    <ion-item *ngFor="let rank of ranking|async">
      <ion-label>
        <h2>Jogador: {{rank.jogador}}</h2>
        <h2>Pontuação: {{rank.pontos}}</h2>
      </ion-label>
    </ion-item>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="jogar()">
      <ion-icon name="logo-game-controller-a"></ion-icon>
      <label> Novo Jogo</label>
    </ion-button>
  </ion-fab>
</ion-content>