<ion-header>
  <ion-toolbar>
    <ion-title>
      Jogo da Forca
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div *ngIf="resposta.length > 0">
      <ion-label color="success">Quantidade de Letras {{tamanho}}</ion-label>
      <br>
      <ion-label color="danger">Erros {{erros}}</ion-label>
      <br>
      <ion-label color="primary">Letras usadas: {{usadas}}</ion-label>
    </div>
    <ion-input *ngIf="resposta.length > 0" placeholder="Adicione uma Letra" [(ngModel)]="letra"></ion-input>
    <ion-grid>
      <ion-row color="danger">
        <ion-col *ngFor="let ltr of resposta">
          &nbsp;{{ltr}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button *ngIf="resposta.length == 0" (click)="sortear()">
      <ion-icon name="refresh"></ion-icon>
      Novo Jogo
    </ion-button>
    <ion-button *ngIf="resposta.length > 0" (click)="validar(letra)">
      <ion-icon name="search"></ion-icon>
    </ion-button>
  </div>
</ion-content>